/* Estilo da lista de músicas */
.music-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.music-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    cursor: pointer;
    text-align: center;
}

.music-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#recentes-lista{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}

.recentes-item{
    display: flex;
    padding: 5px;
    padding-right: 20px;
    gap: 20px;
    
    max-width: 500px;
    min-width: 300px;

    align-items: center;

    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.recentes-item img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

#recentes-nada{
    color:gray;
}


/* Estilo do player fixo */
#music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1e1e1e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#music-player img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 15px;
    overflow: hidden;
}

#music-player .info {
    display: flex;
    align-items: center;
}

#music-player audio {
    width: 700px;
    margin-right: 40px;
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.button-enviar, .button-logar {

    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 150px;
}


.button-enviar:hover, .button-logar:hover {
    background-color: #f7fafa;
}

.button-enviar:hover, .button-logar:hover {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.perfil {
    align-content: right;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}